@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* A div criada dentro da section tem um tamanho de 600px por 100% de largura, porem a imagem dentro da div estorou e sobressaiu no header e navegador, sendo assim criamos um ID para na section que é PAI da DIV com as mesmas propriedades de largura e altura, sendo assim a div e a section tem o mesmo tamnho, para que nao estoure dentro do header usamos a o OVERFLOW */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('/image/hero-image.webp') no-repeat center center;

    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creat the level of zoom for hero image */

@keyframes hero-zoom {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.1);
    }
}

#cover-text {
    font-family: Oswald, sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}